*, *::before, *::after {
  box-sizing: border-box;
}
ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #2e2f42;
    text-transform: uppercase;
}
.logo span {
    color: #4D5AE5;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
h1{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.0717;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1112;
    color: #2e2f42;
}
h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    color: #2e2f42;

}
p {
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
}
a {
    color: #2e2f42;
    text-decoration: none;  
}
a:hover,
a:focus {
    color: #404BBF;
}
a:active {
    color: #404BBF;
    text-decoration: underline;
}
footer a {
    color: #F4F4FD;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff;
    margin: 0;
}
main {
    flex-grow: 1;
}
.container {
    width: 100%;
    max-width: 1158px;
    padding: 0 15px; 
    margin: 0 auto;
}
section {
    padding-bottom: 120px;
    padding-top: 120px;
}
header{
        border-bottom: 1px solid #E7E9FC;

}
.header-container {
    display: flex;
    align-items: center;
}
.header-nav {
    margin-left: 76px;
    margin-right: 76px; 
}
.header-nav-list {
    display: flex;
    gap: 40px;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.header-nav-list a{
    padding: 24px 0;
    display: inline-block;
}

.header-address {
    flex-shrink: 0;
    margin-left: auto;
}
.header-address-list {
    display: flex;
    gap: 40px;
}
.header-address-list a{
    padding: 24px 0;
    display: inline-block;
    color: #434455;
    font-style: normal;
}
.hero {
    background-color: #2e2f42;
        padding: 188px 0;
}
.hero-container {
    color: #F4F4FD;    
}
.hero-title {
    max-width: 496px;
    text-align: center;
    margin: auto;
    margin-bottom: 48px;
}
.hero-button {
    background-color: #4D5AE5;
    color: #F4F4FD;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    display: block;
    margin: auto;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.0397em;
    color: #fff;
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}
.values-list {
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 0;
}
.values-subtitle {
    align-self: flex-start;
    margin-bottom: 8px;
}
.values-item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: left;
    width: calc((100% - 72px) / 4);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.team {
    background-color: #f4f4fd;
}
.team-title {
    margin-bottom: 72px;
    text-align: center;
}
.team-list {
    display: flex;
    gap: 24px;
    align-items: stretch;
    padding-left: 0;
}
.team-img {
    width: 100%;
    display: block;
}
.team-item {
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px) / 4);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-card-text {
    padding: 32px 16px;
    box-sizing: border-box;
    text-align: center
}
.team-subtitle {
    margin-bottom: 8px;
}
.portfolio-title {
    text-align: center;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 48px 24px;
    align-items:center;
    padding-left: 0;
}
.portfolio-item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: calc((100% - 48px) / 3); 
}
.portfolio-img {
    width: 100%;
    display: block;
}
.portfolio-subtitle {
    margin-bottom: 8px;
}
.portfolio-card-text {
    padding: 32px 16px 32px 16px;
    text-align: left;
    gap: 8px;
    width: 100%;
    border: 1px solid #E7E9FC;
    border-top: none;
}
.footer {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #2e2f42;
}
.footer-content {
    color: #F4F4FD;
}
.footer-content .logo {
    color: #F4F4FD;
    margin-bottom: 16px;
    flex-shrink: 0;
    width: 115px;
    height: 24px;
}
.footer-text {
    max-width: 264px;
}